.firstViewTitle {
    padding: 10px;
    background-color: #cd3796;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
        display: block;
    }
}