
.thumbs {
    .likeButton {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }

    .thumbsIcons {
        width: 20px;
        height: 20px;
        img {
            vertical-align: bottom;
        }
    }

    .count {
        font-size: 12px;
    }
}