/****************** _header *******************/

/****** Header.jsx CSS ******/
header {
    /* max-width: 994px; */
    margin-inline: auto;

    #logo {
        position: relative;
        z-index: 200;
    }
}

/****** Navigation.jsx CSS ******/
.navigation_container {
    width: 100%;
    padding-block: 1rem;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    .navigation_box {
        max-width: 994px;
        padding-inline: 1rem;
        margin-inline: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/****** BamosDrawerButton.jsx CSS ******/
.drawerButton {
    width: 48px;
    height: 36px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 200;

    img {
        width: 20px;
        margin-inline: auto;
        margin-bottom: 4px;
        transition: all 0.3s ease-in-out;
    }

    img.active {
        transform: rotate(135deg);
    }

    span {
        font-size: 12px;
        letter-spacing: 0.02em;
    }
}

/****** BamosDrawerMenu.jsx CSS */
.drawerMenu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 120px;
    position: fixed;
    top: -100%;
    z-index: 150;
    background-color: rgba(255, 255, 255, 0.8);
    transition: all 0.3s ease-in-out;

    ul {
        display: flex;
        flex-direction: column;
        gap: 40px;
        list-style: none;

        @media (width >= 768px) {
            flex-direction: row;
            justify-content: center;
            gap: 40px;
        }

        li {
            font-weight: bold;
        }
    }
}

.drawerMenu.open {
    top: 0;
}

/****** firstView.jsx CSS ******/
.firstViewWrap {
    max-width: 994px;
    height: 100dvh;
    margin-inline: auto;
    position: relative;

    @media (width >= 500px) {
        height: 612px;
    }
}

/****** firstViewImg.jsx CSS ******/
.firstViewImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/****** firstViewTitle.jsx CSS ******/

.firstViewTitle {
    padding: 10px;
    background-color: #cd3796;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
        display: block;
    }
}

/****************** _MainArea *******************/
main {
    padding-inline: 1rem;
}

.mainWrap {
    max-width: 994px;
    margin-inline: auto;
}

/****** BamosCardWrap.jsx CSS ******/

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

/****** BamosCard.jsx CSS ******/
.card {
    flex-basis: 100%;

    @media (width >= 500px) {
        flex-basis: calc(100% / 2 - (1rem * 1 / 2));
    }

    @media (width >= 768px) {
        flex-basis: calc(100% / 3 - (1rem * 2 / 3));
    }

    .cardImg {
        width: 100%;
        aspect-ratio: 7 / 6;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 4px;
        }
    }

    .cardBody {
        margin-top: 8px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .cardTitle {
        font-size: 15px;
    }

    .cardAuthor {
        font-size: 12px;
        color: #808080;
    }

    .cardStats {
        display: flex;
        gap: 1rem;
        align-items: center;
    }
}

/* 画像の表示位置がデザインカンプと微妙に違うのでその修正コード。 */
.card:nth-child(1) .cardImg img {
    object-position: 95%;
}

.card:nth-child(2) .cardImg img {
    object-position: 63%;
}

/****** thumbsUpDownButton.jsx CSS ******/

.thumbs {
    .likeButton {
        display: flex;
        gap: 0.5rem;
    }

    .thumbsIcons {
        img {
            vertical-align: bottom;
        }
    }

    .count {
        font-size: 12px;
    }
}
/****** bamosModalWrap.jsx CSS ******/

.modalWrapper {
    text-align: center;
}

/****** BamosModalWindow.jsx CSS ******/

.modalOverlay {
    width: 100%;
    height: 100%;
    /* 親要素にtext-align:centerが入ってるので、左揃えに戻す */
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .modalContent {
        max-width: 468px;
        border-radius: 4px;
        background-color: #fff;
        position: relative;

        .modalImg {
            width: 100%;
            height: 116px;
            margin-block-end: 26px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
            }
        }

        .modalBox {
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding-inline: 1rem;
            padding-block-end: 24px;

            h2 {
                text-align: center;
            }

            p {
                font-size: 15px;
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 30px;
            }

            .closeButton {
                position: absolute;
                top: 8px;
                right: 8px;
                cursor: pointer;
                z-index: 1100;
                background-color: #fff;
                border-radius: 50%;
            }
        }
    }
}

.formBlock {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, max(126px));
}

/****************** _footer *******************/

/****** Footer.jsx CSS ******/
footer {
    text-align: center;
    padding: 1rem;
    background: linear-gradient(180deg, #2d0000 0%, #000 100%);
    margin-block-start: 50px;
}
