@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body{
  font-family: "Lexend", sans-serif;
}

img{
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

fieldset{
  border: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

legend{
  text-align: left;
  font-weight: 600;
  margin-block-end: 1rem;
}

select{
  border: 1px solid black;
  padding: 4px;
  border-radius: 2px;
}

textarea{
  border: 1px solid black;
  border-radius: 2px;
  width: 100%;
}