.drawerMenu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 120px;
    position: fixed;
    top: 68px;/* マジックナンバーなので解決方法を考える必要がある。z-index問題が解決しない */
    opacity: 0;
    visibility: hidden;
    z-index: 150;
    background-color: rgba(255, 255, 255, 0.8);
    transition: all 0.3s ease-in-out;

    @media (width >= 768px) {
        opacity: 1;
        visibility: visible;
        position: static;
        padding-block: 0;
        background-color: transparent;
        width: auto;
    }
}

.navList {
    display: flex;
    flex-direction: column;
    gap: 40px;
    list-style: none;

    @media (width >=768px) {
        flex-direction: row;
        justify-content: center;
        gap: 40px;
    }
}

.navItem {
    font-weight: bold;
}

.drawerMenu.open {
    opacity: 1;
    visibility: visible;
}