.heading {
    text-align: center;
    max-width: 994px;
    padding-block: 4px;
    border-block: 1px solid black;
    margin-block-start: 60px;
    margin-block-end: 40px;
    margin-inline: auto;
}
